body{
	background-color:#E0F2F1;
	border-style: black;
	border-style: dashed;
    border-width: 5px;
    padding: 20px;
    font-family:'Open Sans';
    margin:40px 100px;
    font-size: 10pt
}
h3{
	font-weight:bold;
	font-size: 12pt;
	margin:0px;
}
ul{
	font-size: 10pt;
    margin: 0px;
    padding:0px;
    list-style-type: none;
 }
 .professional{
 	padding:0px 0px 10px 0px;
 	font-weight: normal;
 	list-style-type: circle;
 }
 #header{
	color:black; 
	text-align: center;
	margin: 0px;
}
 .education{
 	padding:0px 0px 10px 0px;
 	font-weight: normal;
 	margin:0px;
}
.otheractivities{
 	 padding:0px 0px 10px 0px;
 	font-weight: normal;
 	list-style-type: circle;
}