.top{
  text-decoration:none;
  color: black;
}
body{
  text-align: center;
  font-family: 'Inconsolata';
}
span.text-content {
  font-size:20px;
  color: black;
  cursor: pointer;
  height: 150px;
  vertical-align: bottom;
}

.ri-grid {
  width: 100%;
}

.photos{
  margin:20px;
}

span.text-content span {
  text-align: center;
}

.illustrations, div:hover span.text-content {
  opacity: 1;
}

span.text-content {
  width:100%;
  color: white;
  cursor: pointer;
  opacity: 0;
  -webkit-transition:cover opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#pretzel, #watermelon, #pickles, #rubberglove, #fork-tomato, #drive-thru, #milkshake{
  height:1000px;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

nav a{
  text-decoration: none;
  color: black;
}


#rubberglove{
 background-image: url("images/illustrations/yellow_glove-01.jpg");
}

#pretzel{
  background-image:   url("images/illustrations/pretzel-01.jpg");
}

#pickles{
  background-image:   url("images/illustrations/dropped_crayon.jpg");
}

#watermelon{
  background-image:   url("images/illustrations/watermelon_bag_web_02.jpg");
}

#fork-tomato{
  background-image:   url("images/illustrations/fork_tomato_01-01.jpg");
}

#drive-thru{
  background-image:   url("images/illustrations/chicken_nuggets_fries_web.jpg");
}

#milkshake{
  background-image:   url("images/illustrations/dropped_milkshake_01_web.jpg");
}

#about {
  margin: 15px 75px;
  height:200px
}
