
/*I struggled! (I also didn't have any time to work through it)*/
/*
Project Name: Blank Template
Client: Relaxr
Author: Anna Farrell
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}
.relaxr{
  font-family: Open Sans, Arial, sans-serif;
  font-weight:bold;
  font-size: 24pt;
  text-align: left;
  font-style: bold;
  vertical-align: top;
  padding: 20px;
}
body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Open Sans, Arial, sans-serif;
}
header{
     background: url(/images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     max-width: 100%;
     height:auto;
     color:white;
}
#container {
  font-family: open sans, sans-serif
  width: 100%;
  margin: auto;
  height: 2000px;
  text-align: center;
}
.h2{
  font-size: 20px;
}
.header{
  padding: 1000px;
}

.benefits{
  font-size: 20px;
}
.name{
  font-family: Open Sans, sans-serif;
  font-weight: semi-bold;
  font-size: 18px;
  text-align:center;
}
.footer{
  background-image: url(".images/testimonial_bg.jpg") no-repeat center top, blue;
  max-width:100%;
}
.quote{
  font-family:Open Sans, sans-serif;
  font-style: italic;
  text-align: center;
  font-size:18px;
}
.signup{
  font-weight:bold;
  font-size:  12px; 
  border:5px;
  padding: 5px;
}
